<ul>
  <li><a href="./vanilla.html">Vanilla Example with Preloaded Database</a></li>
  <li>
    <a href="./sqlite-viewer/index.html"
      >Port of the Original Sqlite Viewer Application</a
    >
  </li>
</ul>
