@import "choices.js/public/assets/styles/choices.css";

.sqlview-bottom-bar {
  z-index: 1;
  bottom: 0;
  padding: 15px;
  position: static;
  display: none;
  margin-left: -8px;
  text-align: center;
}

.sqlview-bottom-bar a:focus,
a:hover {
  text-decoration: none;
}

.sqlview-inline {
  background: #fff;
  display: inline-block;
  padding: 15px;
  margin: -15px;
}

.sqlview-bottom-bar button {
  vertical-align: middle;
}

/* Adapted from: https://css.gg/ */
.sqlview-bottom-bar .gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.sqlview-bottom-bar .gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 4px;
}

.sqlview-bottom-bar .gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.sqlview-bottom-bar .gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

.sqlview-editor-container > div {
  border: 1px solid;
}

.sqlview-editor-container .ace_hidden-cursors {
  opacity: 0;
}

.sqlview-main-container > div {
  opacity: 1;
  margin-bottom: 20px;
}

.sqlview-run-button-container {
  margin: 1rem 0;
}

.sqlview-table-container table {
  border: 1px solid;
  margin-bottom: 0;
  width: 100%;
}

.sqlview-table-container table th span {
  cursor: help;
}

.sqlview-table-container table th,
.sqlview-table-container table td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sqlview-table-select-container .choices {
  margin-bottom: 0;
}

.sqlview-table-select-container .choices__inner {
  min-height: auto;
  padding-left: 0;
  padding-right: 0;
}

@keyframes sqlview-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
