body {
  background: #f5f5f5;
}

#main-container {
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 16px silver;
  z-index: 2;
}

.node-info {
  font-style: italic;
  display: none;
  margin: 0;
  padding: 0;
}

.drag {
  background-color: lightblue;
}

.info-items td {
  vertical-align: top;
}

.info-items td:first-child {
  width: 90px;
}

#header {
  background: #a0cfff;
  color: #3474a8;
  padding: 16px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}

#header h3 {
  margin: 0;
}

#resizer {
  font-size: 26px;
}

#resizer i {
  padding-top: 15px;
}

#resizer i.glyphicon-resize-small {
  margin-right: 120px;
}

#dropzone {
  height: 450px;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  display: table;
  table-layout: fixed;
}

#dropzone .panel-body {
  display: table-cell;
  vertical-align: middle;
}

#button-box {
  position: absolute;
  right: 40px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5e7;
}

/* Animated loading icon */

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
